/*Global*/
:root
{
    --font-color:#354f52;
    --background-color:#cad2c5;
}
/*HTML tags*/
.body
{
    background-color: var(--background-color);
    color:var(--font-color);
}
a{
    text-decoration: none;
    color:var(--font-color);    
}
a:hover
{
    color:var(--font-color);
}


/*Classes*/
.container-fluid
{
    background-color: var(--background-color);
}
.bg-light
{
    background-color:var(--background-color)!important;
}
.navbar ul li{
    display:inline-block;
   
}
.jumbotron
{
    background-color:var(--background-color)!important;
}
.card{
    background-color:var(--background-color);
    color:var(--font-color) ;
}

#contact .navbar a:hover, #work_section .card:hover{
    transform: scale(1.05);
}
@media (max-width: 770px ){
    .card-body .display-4
{
    font-size: 30px;
}

    
}
