/*Global*/
:root
{
    --font-color:#354f52;
    --background-color:#cad2c5;
}
/*HTML tags*/
.body
{
    background-color: var(--background-color);
    color:var(--font-color);
}
a{
    text-decoration: none;
    color:var(--font-color);    
}
a:hover
{
    color:var(--font-color);
}


/*Classes*/
.container-fluid
{
    background-color: var(--background-color);
}
.bg-light
{
    background-color:var(--background-color)!important;
}
.navbar ul li{
    display:inline-block;
    margin:10px;
}
.jumbotron
{
    background-color:var(--background-color)!important;
}
.card{
    background-color:var(--background-color);
    color:var(--font-color) ;
}
